body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.player_info_container {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: rgb(47, 183, 249);
    border: none;
    -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.274);
       -moz-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.274);
            box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.274);
    -webkit-border-radius: 2px 2px 2px 2px;
       -moz-border-radius: 2px 2px 2px 2px;
            border-radius: 2px 2px 2px 2px;
}

.player_info_container h2 {
  color: white;
}

.edit_container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  
  background: rgb(181, 181, 181);
    border: none;
    -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.274);
       -moz-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.274);
            box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.274);
    -webkit-border-radius: 2px 2px 2px 2px;
       -moz-border-radius: 2px 2px 2px 2px;
            border-radius: 2px 2px 2px 2px;
}